.add-city {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-city p {
    text-align: center; 
    align-self: normal; 
    border-radius: 25px;
    padding: 15px;
    margin: 10px; 
    color: white;
}

p.success {
    background-color: var(--color-success);
    display: flex;
    align-items: center;
    justify-content: center
}

p.error {
    background-color: var(--color-error);
    display: flex;
    align-items: center;
    justify-content: center 
}

p.warning {
    background-color: var(--color-warning);
    display: flex;
    align-items: center;
    justify-content: center
}