.help {
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 8px ;
    margin-top: 8px;
}

.help button {
    align-self: center;
}

.help p {
    text-align: center; 
    align-self: normal; 
    color: white; 
    padding: 15px; 
    margin: 10px; 
    border-radius: 20px; 
}

p.error {
    background-color: var(--color-error); 
}
/*parrafo de validacion de mail
